@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  line-height: 1;
  background: black;
  color: maroon;
}
